<!-- WEB 425 Angular with TypeScript
Contributors

Contributors:
Richard Krasso
Thomas James Schultz -->

<mat-card-title class="text-center">Contact Us</mat-card-title>

<div fxLayout="row wrap" class="container">
  <!-- contact information -->
  <div fxFlex class="text-center">
    <mat-card-title class="card-title-icon">
      <mat-icon>navigation</mat-icon>
    </mat-card-title>

    <mat-card-content>
      <p>123 Fake Street</p>
      <p>Springfield, USA</p>
    </mat-card-content>
  </div>

  <div fxFlex class="text-center">
    <mat-card-title class="card-title-icon icon">
      <mat-icon>email</mat-icon>
    </mat-card-title>

    <mat-card-content>
      <p>Direct: 800-555-5555</p>
      <p>Toll-free: 1-800-591-0467</p>
      <p>Fax: 865-867-5309</p>
    </mat-card-content>
  </div>

</div>