<!-- WEB 425 Angular with TypeScript
Contributors

Contributors:
Richard Krasso
Thomas James Schultz -->

<mat-card-title class="text-center" style="padding: 30px 10px; font-size: 30px;">About Us</mat-card-title>

<div fxLayout class="container">
  <!-- About the company -->
  <div fxFlex class="container">
    <p>Gryffindor Industries is company built from the great minds that came from Hogwarts School of Witchcraft and
      Wizardry. For
      generations, Gryffindor Industries has worked for the busy working class for both muggles and wizards. They have
      created
      automobiles, houses, appliances, and applications to be used for both desktop and mobile.<br><br>
      Gryffindor Industries is proud to announced their latest product, the NodeBucket application. This application
      allows users to
      login, create a ToDo list, and move over their items to the Done section. This allows busy muggles and wizards to
      keep their tasks in order. The application was created using the MEAN tech stack. What does that mean? It means
      our team created this application using the latest in technology. All information is secure so no one can access
      your information. The application has contact page with all the information needed to contact us. Enjoy!

    </p>
  </div>
</div>
<hr>
<br><br>

<div fxLayout="row wrap" class="container">
  <div fxFlex>
    <!-- Fun information about the founder. All made up of course -->
    <mat-card class="mat-elevation-z0 text-center" style="width: 500px; background-color: #d3a625;">
      <mat-card-content>
        <img src="./assets/profile.jpg" height="300" />
      </mat-card-content>


    </mat-card>
  </div>
  <div fxFlex>
    <mat-card-title>Thomas Schultz. Owner and CEO</mat-card-title><br>
    <p>Our founder, Thomas Schultz, found this company after graduating from Hogwarts. Him and three fellow students
      agreed to help both wizards and muggles. The founding team always had a fascination towards the muggle world and
      wanted to help out as much as they could.</p><br>
    <p>Thomas continues to oversee all changes in the company. His goal is to expand his company all over the world.</p>
  </div>
</div>