<!-- WEB 425 Angular with TypeScript
Contributors

Contributors:
Richard Krasso
Thomas James Schultz -->

<mat-card-title class="text-center">About Us</mat-card-title>

<div fxLayout="row wrap" class="container">
  <!-- About the company -->
  <div fxFlex>
    <p>Gryffindor Bank and Trust has been a trusted financial institute for the Wizarding Community for over 150 years.
      We have helped Wizards and Witches get them through Wizarding schools, buy their first house, and starting new
      businesses. We have always been proud to serve the Wizarding community and are excited to introduce our new Loan
      App.<br><br>
      Our customers have been asking for a loan application and our developers have delivered. Customers will now be
      able to calculate a loan without talking to one of our representatives. This will give our customers a good idea
      how much their monthly payments and interest that will have to be paid will be. Due note, this is not the actual
      amount you will pay. Interest rates are due to change based on your credit score. Please enjoy our new Loan
      Application. Please visit the Contact Us page to reach out to someone in our office. Thank and enjoy!
    </p>
  </div>
</div>
<hr>
<br><br>

<div fxLayout="row wrap" class="container">
  <div fxFlex>
    <!-- Fun information about the founder. All made up of course -->
    <mat-card class="mat-elevation-z0 text-center">
      <mat-card-content>
        <img src="./assets/thomador.png" height="400" />
      </mat-card-content>


    </mat-card>
  </div>
  <div fxFlex>
    <mat-card-title>Thomador Longbottom</mat-card-title>
    <p>Our founder, Thomador Longbottom, created Gryffindor Bank & Trust shortly after his tenure at Hogwarts. His
      goal was to help newly graduated students get the secure loan they needed for a new home. He also helped
      parents set up financial accounts for their young wizards or witches to prepare them for a great financial
      future. Thomador is the great-great-great grandfather of famous Gryffindor, Neville Longbottom. His legacy
      continues today with the Gryffindor Scholarship that helps underprivileged wizards and witches get the help
      they need to succeed at any Wizarding School.</p>
  </div>
</div>