/* WEB 450 Mastering the MEAN Stack Bootcamp
Contributors

Contributors:
Richard Krasso
Thomas James Schultz */

.login-container {
  width: 35%;
  margin: 10% auto;
}

.login-title {
  text-align: center;
  font-size: 38px;
  font-weight: lighter;
  padding: 20px;
}

.login-subtitle {
  text-align: center;
  font-weight: lighter;
  padding: 5px;
  color: #D6A800;
}

.mat-card {
  padding: 0;
}

.mat-card-header {
  background-color: #4F3674;
  padding-left: 8%;
  padding-top: 15px;
  color: white;
}

.mat-card-content {
  padding: 28px;
}

.mat-card-actions {
  padding: 25px;
}

.btn-lg {
  height: 50px;
  font-size: 18px;
}