<!-- WEB 450 Mastering the MEAN Stack Bootcamp
  // Contributors

  // Contributors:
  // Richard Krasso
  // Thomas James Schultz -->

<div fxLayout="column" class="main-welcome">

  <div fxFlex>
    <h1 class="title">
      Welcome to WEB 450's - nodebucket Project <br />
      <span class="subtitle">
        Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait
        until the last minute to begin working on your tasks.
      </span>
    </h1>
  </div>
  <!-- create tasks -->
  <div fxFlex>
    <!-- server messages -->
    <div>
      <p-messages [(value)]="serverMessages" [enableService]="false" style="width: 50%;"></p-messages>
    </div>
    <div class="task-container mat-elevation-z4" fxLayout="column">
      <mat-card>
        <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset();">
          <mat-card-content>
            <mat-form-field appearance="fill" style="width: 100%;">
              <input type="text" matInput name="task" formControlName="task" placeholder="Enter a task name...">
              <button type="submit" [disabled]="!taskForm.valid" mat-icon-button matSuffix>
                <mat-icon color="primary" matSuffix>add_circle</mat-icon>
              </button>
            </mat-form-field>

            <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">Task
              is
              a required field</mat-error>

            <mat-error
              *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">Field
              must be at least 3 characters in length.</mat-error>

            <mat-error
              *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">Field
              cannot exceed 36 characters in length.</mat-error>


          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div><br>
  <!-- Todo Done columns -->
  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="15px" class="task-container" style="margin-top: 20px">
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>ToDo</mat-card-title>

          <mat-card-content class="task-column">
            <div>
              <div *ngFor="let item of todo">
                <mat-card class="mat-elevation-z0 task-card">
                  <div fxLayout="row">
                    <!-- text value -->
                    <div fxFlex>
                      {{item.text}}
                    </div>
                  </div>
                </mat-card>

              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
      <!-- Done -->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Done</mat-card-title>

          <mat-card-content class="task-column">
            <div>
              <div *ngFor="let item of done">
                <mat-card class="mat-elevation-z0 task-card">
                  <div fxLayout="row">
                    <!-- text value -->
                    <div fxFlex>
                      {{item.text}}
                    </div>
                  </div>
                </mat-card>

              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

  </div>

</div>