// <!-- WEB 450 Mastering the MEAN Stack Bootcamp
  // Contributors

  // Contributors:
  // Richard Krasso
  // Thomas James Schultz -->

<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar style="background-color: #ae0001" color="primary">
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>nodebucket</button>

        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" mat-button>About</button>
      </div>
      <div fxFlex></div>

      <div>
        <!-- This is on the right side of the navbar. shows user information and allows them to logout -->
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User Profile Menu">
          <mat-icon>perm_identity</mat-icon>
        </button>
        <mat-menu #profileMenu>
          <p style="color: black;">Sign in as {{ sessionName }}</p>
          <button mat-menu-item (click)="logout()">
            <mat-icon>Logout</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content" style="background-color: #ae0001" color="primary">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link"
            target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>